.patient-card {
  background: rgb(255, 255, 255);
  border-radius: 12px;
  padding: clamp(1rem, 1.5vw, 2rem);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  color: #072635;
}

.patient-card .patient-img {
  width: clamp(50%, 70%, 80%);
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: clamp(0.5rem, 0.7vw, 1rem);
}

.patient-card .patient-name {
  font-size: clamp(1rem, 1.2vw, 1.4rem);
  font-weight: bold;
  margin: clamp(0.5rem, 0.7vw, 0.8rem) 0 clamp(0.8rem, 1vw, 1.2rem);
}

.patient-card .info-item {
  display: flex;
  text-align: left;
  margin: clamp(0.8rem, 0.9vw, 1rem) 0;
  gap: clamp(0.6rem, 0.7vw, 1rem);
}

.patient-card .label {
  font-size: clamp(0.65rem, 0.8vw, 0.85rem);
  color: #555;
}

.patient-card .value {
  font-size: clamp(0.7rem, 0.85vw, 1rem);
  font-weight: bold;
  margin-top: 0.1rem;
  color: #072635;
}

.show-button {
  margin-top: clamp(1rem, 1.2vw, 1.5rem);
  padding: clamp(0.5rem, 0.7vw, 0.7rem) clamp(1rem, 1.5vw, 2rem);
  background: #01F0D0;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.9vw, 1rem);
  transition: background 0.3s ease;
}

.show-button:hover {
  background: #17c2a0;
}
